.homeMain {
    display: grid;
}

.homeMain button {
    display: block;
    margin: 0 10px 0 auto;
    padding: 5px 10px;
}

.currentWeather {
    text-align: center;
}

.forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 10px;
}