.searchBar {
    padding: 20px;
}

.searchBar input {
    margin-left: 20px;
}

.searchResults {
    min-width: 200px;
}

.searchItem:hover {
    background-color: lightgray;
}

.searchItem:active {
    background-color: darkgray;
}